.body {
  margin: 10px;
}

.filter {
  display: flex;
}

.filter-btn {
  margin: 10px;
}

.search {
  padding: 10px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
